In [35]:
import sys
import os

print(sys.version)

3.12.3 (main, May  7 2024, 08:28:12) [GCC 9.4.0]

In [36]:
# tmp 디렉토리가 없으면 생성합니다.
if not os.path.isdir('tmp'):
    os.mkdir('tmp')
    # Abalone Dataset을 다운로드 받습니다.
    !wget https://archive.ics.uci.edu/static/public/1/abalone.zip -P tmp
    !unzip tmp/abalone.zip

In [37]:
# Abalone 데이터셋으 설명이 들어간 파일을 출력합니다.
!cat tmp/abalone.names

1. Title of Database: Abalone data

2. Sources:

   (a) Original owners of database:
	Marine Resources Division
	Marine Research Laboratories - Taroona
	Department of Primary Industry and Fisheries, Tasmania
	GPO Box 619F, Hobart, Tasmania 7001, Australia
	(contact: Warwick Nash +61 02 277277, wnash@dpi.tas.gov.au)

   (b) Donor of database:
	Sam Waugh (Sam.Waugh@cs.utas.edu.au)
	Department of Computer Science, University of Tasmania
	GPO Box 252C, Hobart, Tasmania 7001, Australia

   (c) Date received: December 1995


3. Past Usage:

   Sam Waugh (1995) "Extending and benchmarking Cascade-Correlation", PhD
   thesis, Computer Science Department, University of Tasmania.

   -- Test set performance (final 1044 examples, first 3133 used for training):
	24.86% Cascade-Correlation (no hidden nodes)
	26.25% Cascade-Correlation (5 hidden nodes)
	21.5%  C4.5
	 0.0%  Linear Discriminate Analysis
	 3.57% k=5 Nearest Neighbour
      (Problem encoded as a classification task)

   -- Data set samples are highly overlapped.  Further information is required
	to separate completely using affine combinations.  Other restrictions
	to data set examined.

   David Clark, Zoltan Schreter, Anthony Adams "A Quantitative Comparison of
   Dystal and Backpropagation", submitted to the Australian Conference on
   Neural Networks (ACNN'96). Data set treated as a 3-category classification
   problem (grouping ring classes 1-8, 9 and 10, and 11 on).

   -- Test set performance (3133 training, 1044 testing as above):
	64%    Backprop
	55%    Dystal
   -- Previous work (Waugh, 1995) on same data set:
	61.40% Cascade-Correlation (no hidden nodes)
	65.61% Cascade-Correlation (5 hidden nodes)
	59.2%  C4.5
	32.57% Linear Discriminate Analysis
	62.46% k=5 Nearest Neighbour


4. Relevant Information Paragraph:

   Predicting the age of abalone from physical measurements.  The age of
   abalone is determined by cutting the shell through the cone, staining it,
   and counting the number of rings through a microscope -- a boring and
   time-consuming task.  Other measurements, which are easier to obtain, are
   used to predict the age.  Further information, such as weather patterns
   and location (hence food availability) may be required to solve the problem.

   From the original data examples with missing values were removed (the
   majority having the predicted value missing), and the ranges of the
   continuous values have been scaled for use with an ANN (by dividing by 200).

   Data comes from an original (non-machine-learning) study:

	Warwick J Nash, Tracy L Sellers, Simon R Talbot, Andrew J Cawthorn and
	Wes B Ford (1994) "The Population Biology of Abalone (_Haliotis_
	species) in Tasmania. I. Blacklip Abalone (_H. rubra_) from the North
	Coast and Islands of Bass Strait", Sea Fisheries Division, Technical
	Report No. 48 (ISSN 1034-3288)


5. Number of Instances: 4177


6. Number of Attributes: 8


7. Attribute information:

   Given is the attribute name, attribute type, the measurement unit and a
   brief description.  The number of rings is the value to predict: either
   as a continuous value or as a classification problem.

	Name		Data Type	Meas.	Description
	----		---------	-----	-----------
	Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

   Statistics for numeric domains:

		Length	Diam	Height	Whole	Shucked	Viscera	Shell	Rings
	Min	0.075	0.055	0.000	0.002	0.001	0.001	0.002	    1
	Max	0.815	0.650	1.130	2.826	1.488	0.760	1.005	   29
	Mean	0.524	0.408	0.140	0.829	0.359	0.181	0.239	9.934
	SD	0.120	0.099	0.042	0.490	0.222	0.110	0.139	3.224
	Correl	0.557	0.575	0.557	0.540	0.421	0.504	0.628	  1.0


8. Missing Attribute Values: None


9. Class Distribution:

	Class	Examples
	-----	--------
	1	1
	2	1
	3	15
	4	57
	5	115
	6	259
	7	391
	8	568
	9	689
	10	634
	11	487
	12	267
	13	203
	14	126
	15	103
	16	67
	17	58
	18	42
	19	32
	20	26
	21	14
	22	6
	23	9
	24	2
	25	1
	26	1
	27	2
	29	1
	-----	----
	Total	4177

# 분석의 목표

Rings를 타겟으로 하는 머신러닝 모델을 만들어 Rings를 예측하는 모델을 만듭니다.

모델의 성능 지표는 RMSLE로 합니다. 

$\sqrt{ \frac{1}{n} \sum_{i=1}^n \left(\log (1 + \hat{y}_i) - \log (1 + y_i)\right)^2}$

Kaggle에서도 이 지표를 이용한 Playground 에서 RMSLE를 사용하여 다루었던 주제입니다.

[Kaggle: Regression with an Abalone Dataset](https://www.kaggle.com/competitions/playground-series-s4e4)

여기서는 UCI Repository에서의 데이터만을 가지고, Machine Learning 모델을 만들어 봅니다.

## 실험의 설정

UCI의 abalone 데이터셋의 70%는 학습용, 30%는 평가용 데이터셋으로 만듭니다. 이 때 Rings의 비율이 동일하도록 합니다.

## 노트에서 보일 sgml의 내용

1. 변수의 타입 최적화 합니다.

2. 변수의 처리 내역 및 특성을 데이터프레임으로 관리합니다.

3. 변수의 처리를 위한 탐색적 과정들은 생략합니다.

4. 학습데이터와 평가데이터에 적용할 처리 과정을 list로 정의하여 일괼 처리할 수 있게 합니다.

5. pl.DataFrame에서는 전처리단계에서 사용하고 pd.DataFrame은 Machinne Learning 단계에서 사용합니다. 즉,  pl.DataFrame을 통해 전처리가 끝나면, pd.DataFrame으로 사용합니다.

- 즉, Polars의 데이터 처리의 효율화를 취하고, pd.DataFrame의 타 모듈과 호환성의 장점을 취합니다.

6. sgml에 있는 Tabular 데이터에 특화된 Neural Network 모델을 활용해봅니다.

7. sgml의 SGStacking을 통해 실험 결과를 관리하고 이를 종합하여 stacking 모델을 만듭니다.

## 데이터 처리과정

1. 변수 스펙이 담긴 abalone.names 파일을 기반으로 변수 스펙을 지닌 데이터프레임(df_feature)를 정의합니다. 이 데이터프레임을 통해 변수의 처리 사항이나 특징을 관리합니다.

  - Index는 변수명, Description는 변수에 대한 설명, Unit은 단위, org는 변수의 출처를 나타냅니다.

2. 데이터에 적합한 타입을 파악하기 위해 pl.read_csv → dproc.get_type_df 를 사용하여 변수의 범위와 범주의 수를 파악합니다.

3. dproc.get_type_pl을 이용하여 적합한 변수 타입을 도출합니다.

4. 파악한 변수 타입으로 데이터를 불러 옵니다.

5. functools.partial을 이용하여 dproc의 데이터 처리 함수들에 파라미터를 설정하여 pl.DataFrame을 전달만 하도록 설정 method chaining이 가능한 형태로 데이터를 처리합니다.

- Rings를 log(Rings + 1) 변환을 하여 target 변수를 만듭니다.

- Height 변수에서 이상치들을 범위를 한정 시킵니다.

- 면적(square), 부피(volumn), 밀도(density)를 추가합니다.

- 연속형 입력 변수들 표준화하고 PCA 주성분 4개를 만듭니다.

In [38]:
import dproc
import pandas as pd
import polars as pl
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

for i in [pd, pl, np, mpl, sns]:
    print(i.__name__, i.__version__)

pandas 2.2.2
polars 0.20.24
numpy 1.26.4
matplotlib 3.8.4
seaborn 0.13.2

In [39]:
from functools import partial

# pandas DataFrame에서 텍스트 표시할 때 텍스트 줄임을 하지 않는 최대의 텍스트 길이를 지정합니다.
pd.set_option('display.max_colwidth', 255)

In [40]:
# 변수들에 대한 설명을 담은 데이터프레임입니다. 
# Index는 변수명, Description은 변수에 대한 설명을 나타냅니다. 
df_feature = pd.DataFrame({
    "Description" : [
            "M, F, and I (infant)",
            "Longest shell measurement",
            "perpendicular to length",
            "with meat in shell",
            "whole abalone",
            "weight of meat",
            "gut weight (after bleeding)",
            "after being dried",
            "+1.5 gives the age in years"], 
    "Units": ['', 'mm', 'mm', 'mm', 'grams', 'grams', 'grams', 'grams', '']
    }, index = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']
)
df_feature

                                Description  Units
Sex                    M, F, and I (infant)
Length            Longest shell measurement     mm
Diameter            perpendicular to length     mm
Height                   with meat in shell     mm
Whole weight                  whole abalone  grams
Shucked weight               weight of meat  grams
Viscera weight  gut weight (after bleeding)  grams
Shell weight              after being dried  grams
Rings           +1.5 gives the age in years

In [41]:
# Abalone 데이터셋에 적합한 데이터 타입을 찾기 위한 정보를 가져옵니다.
df_type = pl.read_csv('tmp/abalone.data', has_header=False, new_columns=df_feature.index.tolist()).pipe(
    dproc.get_type_df
)
df_type

,min,max,na,count,n_unique,dtype,f32,i32,i16,i8
feature,,,,,,,,,,
Sex,NaN,NaN,0.0,4177.0,3.0,String,NaN,NaN,NaN,NaN
Length,0.0750,0.8150,0.0,4177.0,134.0,Float64,True,True,True,True
Diameter,0.0550,0.6500,0.0,4177.0,111.0,Float64,True,True,True,True
Height,0.0000,1.1300,0.0,4177.0,51.0,Float64,True,True,True,True
Whole weight,0.0020,2.8255,0.0,4177.0,2429.0,Float64,True,True,True,True
Shucked weight,0.0010,1.4880,0.0,4177.0,1515.0,Float64,True,True,True,True
Viscera weight,0.0005,0.7600,0.0,4177.0,880.0,Float64,True,True,True,True
Shell weight,0.0015,1.0050,0.0,4177.0,926.0,Float64,True,True,True,True
Rings,1.0000,29.0000,0.0,4177.0,28.0,Int64,True,True,True,True

In [42]:
# 병렬화 기능을 가진 polars로 전처리를 합니다.
# Polars를 불러 올 때 사용하기 위한 데이터 타입을 가져옵니다.
pl_dtypes = dproc.get_type_pl(df_type)
pl_dtypes

{'Length': Float32,
 'Diameter': Float32,
 'Height': Float32,
 'Whole weight': Float32,
 'Shucked weight': Float32,
 'Viscera weight': Float32,
 'Shell weight': Float32,
 'Rings': Int8,
 'Sex': Categorical}

In [43]:
# dfl_로 시작하면 pl.DataFrame
dfl_abalone = pl.read_csv('tmp/abalone.data', has_header=False, new_columns=df_feature.index.tolist(), dtypes=pl_dtypes)
dfl_abalone

shape: (4_177, 9)
┌─────┬────────┬──────────┬────────┬───┬────────────────┬────────────────┬──────────────┬───────┐
│ Sex ┆ Length ┆ Diameter ┆ Height ┆ … ┆ Shucked weight ┆ Viscera weight ┆ Shell weight ┆ Rings │
│ --- ┆ ---    ┆ ---      ┆ ---    ┆   ┆ ---            ┆ ---            ┆ ---          ┆ ---   │
│ cat ┆ f32    ┆ f32      ┆ f32    ┆   ┆ f32            ┆ f32            ┆ f32          ┆ i8    │
╞═════╪════════╪══════════╪════════╪═══╪════════════════╪════════════════╪══════════════╪═══════╡
│ M   ┆ 0.455  ┆ 0.365    ┆ 0.095  ┆ … ┆ 0.2245         ┆ 0.101          ┆ 0.15         ┆ 15    │
│ M   ┆ 0.35   ┆ 0.265    ┆ 0.09   ┆ … ┆ 0.0995         ┆ 0.0485         ┆ 0.07         ┆ 7     │
│ F   ┆ 0.53   ┆ 0.42     ┆ 0.135  ┆ … ┆ 0.2565         ┆ 0.1415         ┆ 0.21         ┆ 9     │
│ M   ┆ 0.44   ┆ 0.365    ┆ 0.125  ┆ … ┆ 0.2155         ┆ 0.114          ┆ 0.155        ┆ 10    │
│ I   ┆ 0.33   ┆ 0.255    ┆ 0.08   ┆ … ┆ 0.0895         ┆ 0.0395         ┆ 0.055        ┆ 7     │
│ …   ┆ …      ┆ …        ┆ …      ┆ … ┆ …              ┆ …              ┆ …            ┆ …     │
│ F   ┆ 0.565  ┆ 0.45     ┆ 0.165  ┆ … ┆ 0.37           ┆ 0.239          ┆ 0.249        ┆ 11    │
│ M   ┆ 0.59   ┆ 0.44     ┆ 0.135  ┆ … ┆ 0.439          ┆ 0.2145         ┆ 0.2605       ┆ 10    │
│ M   ┆ 0.6    ┆ 0.475    ┆ 0.205  ┆ … ┆ 0.5255         ┆ 0.2875         ┆ 0.308        ┆ 9     │
│ F   ┆ 0.625  ┆ 0.485    ┆ 0.15   ┆ … ┆ 0.531          ┆ 0.261          ┆ 0.296        ┆ 10    │
│ M   ┆ 0.71   ┆ 0.555    ┆ 0.195  ┆ … ┆ 0.9455         ┆ 0.3765         ┆ 0.495        ┆ 12    │
└─────┴────────┴──────────┴────────┴───┴────────────────┴────────────────┴──────────────┴───────┘

In [44]:
# 불러운 데이터 타입을 feature 데이터프레임에 추가 합니다.
# src 컬럼에는 데이터의 출처를 나타내고,
# 원래 데이터가 포함하고 있는 변수들은 org로 나타냅니다.
df_feature = df_feature.join(pd.Series(pl_dtypes, name='type').apply(lambda x: str(x))).assign(
    src = 'org'
)
df_feature

                                Description  Units         type  src
Sex                    M, F, and I (infant)         Categorical  org
Length            Longest shell measurement     mm      Float32  org
Diameter            perpendicular to length     mm      Float32  org
Height                   with meat in shell     mm      Float32  org
Whole weight                  whole abalone  grams      Float32  org
Shucked weight               weight of meat  grams      Float32  org
Viscera weight  gut weight (after bleeding)  grams      Float32  org
Shell weight              after being dried  grams      Float32  org
Rings           +1.5 gives the age in years                Int8  org

In [45]:
# pl.DataFrame은 sklearn.model_selection train_test_split가 지원하지 않아 수동으로 학습과 평가 데이터를 나눕니다. 
# 0으로 시작하는 데이터의 인덱스 컬럼 no 를 만들고 Rings로 구분하여 no 리스트를 만들고,
# np.random.choice를 이용하여 인덱스를 섞어 줍니다. 
idx = [
    np.random.choice(i, size=len(i), replace=False)
    for i in dfl_abalone.with_columns(pl.int_range(pl.len()).alias('no')).group_by('Rings').agg(pl.col('no'))['no']
]
# 70%는 train의 인덱스로 가져와 모으고, 30%는 평가셋 인덱스로 모읍니다.
# 처음부터 위치 인덱스가 70%인 지점까지 학습셋의 인덱스로 사용합니다.
train_idx = np.hstack([i[:int((np.ceil(len(i) * 0.7)))] for i in idx])
# 이후의 인덱스들은 평가셋으로 사용합니다.
test_idx = np.hstack([i[int((np.ceil(len(i) * 0.7))):] for i in idx])
# 추출한 인덱스로 행들을 선택합니다.
dfl_train = dfl_abalone[train_idx] 
dfl_test = dfl_abalone[test_idx]

In [46]:
len(dfl_train), len(dfl_test)

(2937, 1240)

In [47]:
# target: log(Rings + 1)이 dfl_train에 생성됩니다.
display(dfl_train.head())
df_feature

shape: (5, 9)
┌─────┬────────┬──────────┬────────┬───┬────────────────┬────────────────┬──────────────┬───────┐
│ Sex ┆ Length ┆ Diameter ┆ Height ┆ … ┆ Shucked weight ┆ Viscera weight ┆ Shell weight ┆ Rings │
│ --- ┆ ---    ┆ ---      ┆ ---    ┆   ┆ ---            ┆ ---            ┆ ---          ┆ ---   │
│ cat ┆ f32    ┆ f32      ┆ f32    ┆   ┆ f32            ┆ f32            ┆ f32          ┆ i8    │
╞═════╪════════╪══════════╪════════╪═══╪════════════════╪════════════════╪══════════════╪═══════╡
│ F   ┆ 0.655  ┆ 0.53     ┆ 0.19   ┆ … ┆ 0.493          ┆ 0.318          ┆ 0.565        ┆ 18    │
│ M   ┆ 0.64   ┆ 0.505    ┆ 0.165  ┆ … ┆ 0.6145         ┆ 0.3035         ┆ 0.39         ┆ 18    │
│ M   ┆ 0.525  ┆ 0.425    ┆ 0.12   ┆ … ┆ 0.2825         ┆ 0.176          ┆ 0.29         ┆ 18    │
│ M   ┆ 0.645  ┆ 0.485    ┆ 0.155  ┆ … ┆ 0.5915         ┆ 0.312          ┆ 0.38         ┆ 18    │
│ F   ┆ 0.645  ┆ 0.49     ┆ 0.19   ┆ … ┆ 0.479          ┆ 0.3565         ┆ 0.345        ┆ 18    │
└─────┴────────┴──────────┴────────┴───┴────────────────┴────────────────┴──────────────┴───────┘

                                Description  Units         type  src
Sex                    M, F, and I (infant)         Categorical  org
Length            Longest shell measurement     mm      Float32  org
Diameter            perpendicular to length     mm      Float32  org
Height                   with meat in shell     mm      Float32  org
Whole weight                  whole abalone  grams      Float32  org
Shucked weight               weight of meat  grams      Float32  org
Viscera weight  gut weight (after bleeding)  grams      Float32  org
Shell weight              after being dried  grams      Float32  org
Rings           +1.5 gives the age in years                Int8  org

In [48]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.decomposition import PCA

# Height 의 변수폭을 0.01, 0.025로 한정시킵니다. 이 기준을 도출하기 위한 과정은 생략합니다.
procs = list()
procs.append(
    partial(dproc.with_columns_opr,
        proc_list=[
            ('targetproc', 'target', (pl.col('Rings') + 1).log().cast(pl.Float32), 'RMSLE 지표를 RMSE로 다루어서 분석과정을 보다 간단하게 하기 위한 log1p 변환을 하여 target을 만듭니다.'),
            ('clip_height', 'Height_n', pl.col('Height').clip(0.01, 0.025),  'Height에 이상치로 보이는 값이 있어, 0.01과 0.025 사이의 값으로 한정합니다.')
        ]
    )
)

# with_columns_opr로도 충분히 구현을 할 수 있지만, select_opr을 예시하기 위한 과정을 보입니다.
# 면적, 부피, 밀도 변수를 넣습니다.
procs.append(partial(
    dproc.select_opr, 
    select_proc = lambda x: x.select(
        pl.col('Whole weight'), 
        square = pl.col('Length') * pl.col('Diameter'), 
        volumn = pl.col('Length') * pl.col('Diameter') * pl.col('Height_n')
    ).select(pl.col('square'), pl.col('volumn'), density=pl.col('volumn') / pl.col('Whole weight')),
    desc = [
        ('square', 'Length × Diameter'),
        ('volumn', 'Length × Diameter × Height_n'),
        ('density', 'volumn ÷ Whole Weighht')
    ]
))

# 연속형 입력 변수들을 표준화하고, 표준화된 변수를 주성분을 4개로 뽑도록 PCA 변환을 포함합니다. 
X_std= ['Length', 'Diameter', 'Height_n', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'square', 'volumn', 'density']
X_pca = ['Length', 'Diameter', 'Height_n', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
std_pca = make_pipeline(StandardScaler(), ColumnTransformer([
    ('std', 'passthrough', np.arange(len(X_std))),
    ('pca', PCA(n_components=4), np.arange(len(X_pca)))
]))

# std_pca의 get_feature_names_out()를 통해 처리 후 변수명을 얻을 수 있습니다.
# 이는 {전처리명, 위에서는 std, pca}__{변수명}으로 되어 있습니다.
# 이렇게 전처리명과 변수명 두 개의 항목으로 std_pca에 변수명이 구성되어 있다면, 
# dproc.apply_processor에서는 p에는 전처리명을 v에는 변수명을 넘겨 줍니다.
# info_prov에 전달하는 함수명을 이를 기반으로 변수의 출처정보(org), 설명(Description), 변수 타입을 전달해줍니다.
def std_pca_prov(p, v):
    if p == 'pca':
        # PCA 변환일 경우는 org는 pca, 설명에는 Size Features PCA components v 이고 변수 타입은 pl.Float32로 합니다.
        return ('pca', v, 'Size features PCA component ' + v, pl.Float32)
    return ('std', v, 'StandardScaler: ' + v, pl.Float32)

procs.append(
    partial(dproc.apply_processor, processor = std_pca, X_val = X_std, info_prov = std_pca_prov)
)

ord_enc = OrdinalEncoder(dtype=np.int16, handle_unknown='use_encoded_value', unknown_value=-1)
procs.append(
    partial(dproc.apply_processor, processor = ord_enc, X_val = ['Sex'], info_prov=dproc.ord_prov)
)

In [49]:
# procs할 때 df_feat에 df_feature를 전달하면, processor들은 fit을 하게 되고, 
# 반환되는 df_feature에는 procs에 정의된 변수에 대한 사항이 들어가 있게 됩니다.
dfl_train, df_feature = dproc.apply_procs(dfl_train, procs, df_feat=df_feature)
# procs를 적용할 때 df_feature를 전달하지 않으면, processor들은 transform만 합니다.
dfl_test, _  = dproc.apply_procs(dfl_test, procs)

In [50]:
dfl_train

shape: (2_937, 18)
┌─────┬──────────┬──────────┬────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ Sex ┆ Length   ┆ Diameter ┆ Height ┆ … ┆ pca0     ┆ pca1      ┆ pca2      ┆ pca3      │
│ --- ┆ ---      ┆ ---      ┆ ---    ┆   ┆ ---      ┆ ---       ┆ ---       ┆ ---       │
│ i16 ┆ f32      ┆ f32      ┆ f32    ┆   ┆ f32      ┆ f32       ┆ f32       ┆ f32       │
╞═════╪══════════╪══════════╪════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ 0   ┆ 1.094114 ┆ 1.228894 ┆ 0.19   ┆ … ┆ 3.162969 ┆ 0.068637  ┆ -0.101341 ┆ 1.269281  │
│ 2   ┆ 0.96909  ┆ 0.977511 ┆ 0.165  ┆ … ┆ 2.683105 ┆ 0.037703  ┆ 0.211239  ┆ 0.01454   │
│ 2   ┆ 0.010571 ┆ 0.173084 ┆ 0.12   ┆ … ┆ 0.100174 ┆ -0.037586 ┆ -0.209092 ┆ 0.468003  │
│ 2   ┆ 1.010765 ┆ 0.776405 ┆ 0.155  ┆ … ┆ 2.617269 ┆ 0.038897  ┆ 0.309018  ┆ 0.01783   │
│ 0   ┆ 1.010765 ┆ 0.826681 ┆ 0.19   ┆ … ┆ 2.339829 ┆ 0.020036  ┆ 0.098706  ┆ -0.013344 │
│ …   ┆ …        ┆ …        ┆ …      ┆ … ┆ …        ┆ …         ┆ …         ┆ …         │
│ 0   ┆ 0.218945 ┆ 0.072531 ┆ 0.135  ┆ … ┆ 0.025799 ┆ -0.049072 ┆ -0.290539 ┆ 0.201166  │
│ 0   ┆ 0.802391 ┆ 1.128341 ┆ 0.225  ┆ … ┆ 1.912067 ┆ 0.00073   ┆ -0.469807 ┆ 0.585697  │
│ 2   ┆ 0.885741 ┆ 0.776405 ┆ 0.175  ┆ … ┆ 2.28311  ┆ 0.036614  ┆ -0.039869 ┆ 0.865682  │
│ 2   ┆ 0.635693 ┆ 0.876958 ┆ 0.195  ┆ … ┆ 1.28983  ┆ -0.018024 ┆ -0.569654 ┆ 0.570618  │
│ 0   ┆ 1.469187 ┆ 1.781938 ┆ 0.185  ┆ … ┆ 4.006013 ┆ 0.064819  ┆ -0.040821 ┆ 0.172681  │
└─────┴──────────┴──────────┴────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [51]:
# df_feature의 처리 사항을 종합합니다.
df_feature = pd.concat([
    df_feature.groupby(df_feature.index)['Description'].apply(lambda x: ','.join(x)), 
    df_feature.groupby(df_feature.index)['type'].last(),
    df_feature.groupby(df_feature.index)['src'].apply(lambda x: '→'.join(x)),
    df_feature.groupby(df_feature.index)[[i for i in df_feature.columns if i not in ['Description', 'type', 'src']]].last()
], axis=1).sort_index().sort_values('type')
df_feature

,Description,type,src,Units
Diameter,"perpendicular to length,StandardScaler: Diameter",Float32,org→std,mm
square,"Length × Diameter,StandardScaler: square",Float32,square→std,None
pca3,Size features PCA component pca3,Float32,pca,None
pca2,Size features PCA component pca2,Float32,pca,None
pca1,Size features PCA component pca1,Float32,pca,None
pca0,Size features PCA component pca0,Float32,pca,None
density,"volumn ÷ Whole Weighht,StandardScaler: density",Float32,density→std,None
Whole weight,"whole abalone,StandardScaler: Whole weight",Float32,org→std,grams
Viscera weight,"gut weight (after bleeding),StandardScaler: Viscera weight",Float32,org→std,grams
Shucked weight,"weight of meat,StandardScaler: Shucked weight",Float32,org→std,grams
Shell weight,"after being dried,StandardScaler: Shell weight",Float32,org→std,grams
Length,"Longest shell measurement,StandardScaler: Length",Float32,org→std,mm
Height_n,"Height에 이상치로 보이는 값이 있어, 0.01과 0.025 사이의 값으로 한정합니다.,StandardScaler: Height_n",Float32,clip_height→std,None
Height,with meat in shell,Float32,org,mm
target,RMSLE 지표를 RMSE로 다루어서 분석과정을 보다 간단하게 하기 위한 log1p 변환을 하여 target을 만듭니다.,Float32,targetproc,None
volumn,"Length × Diameter × Height_n,StandardScaler: volumn",Float32,volumn→std,None
Sex,"M, F, and I (infant),OrdinalEncoder: Sex",Int16,org→ord,
Rings,+1.5 gives the age in years,Int8,org,

In [52]:
# pd.DataFrame을 사용합니다.
df_train = dfl_train.to_pandas()
del dfl_train
df_test = dfl_test.to_pandas()
del dfl_test